.adventure-gear-content-wrapper {
    display: grid;
    grid-template-columns: 16vw 84vw;

    height: 100%;
    width: 100%;

    background-color: var(--adventure-gear-background-color);
}

.adventure-gear-table-container {
    height: 100%;
    width: 100%;
    padding: 20px;
}