@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@400;500;700&family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap');

.content-table
{
    min-width: 400px;
    border-collapse: collapse;
    border-radius: 5px 5px 0px 0px;
    margin: 25px 0px;

    font-family: 'Roboto', sans-serif;
    font-size: 0.9rem;
    font-weight: 300;

    box-shadow: 0 0 20px rgba(0, 0, 0, 0.15);
    overflow: hidden;
}

.content-table thead tr
{
    background-color: #221e22;
    color: #ee5622;
    
    font-size: 1rem;
    font-weight: 700;
    text-align: left;
}

.content-table th,
.content-table td
{
    padding: 12px 15px;
}

.content-table tbody tr td a:hover{
    color: #ee5622;
    font-size: 1.01rem;

    cursor: pointer;
}

.content-table tbody tr td:nth-child(1)
{
    font-size: 1rem;
    font-weight: 500;
}

.content-table tbody tr td:nth-child(2)
{
    font-style: italic;
}


.content-table tbody tr
{
    background-color: #cdcdcd;
    border-bottom: 1px solid #dddddd;
}

.content-table tbody tr:nth-of-type(even)
{
    background-color: #b4b4b4;
}

.content-table tbody tr:last-of-type
{
    border-bottom: 3px solid #221e22;
}

.content-table tbody tr.active
{
    font-weight: bold;
}