/* Este css é para as variáveis de cor global e utilidades */

@import url('https://fonts.googleapis.com/css2?family=Great+Vibes&family=Montserrat:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,300;1,400;1,500;1,700;1,900&display=swap');

:root {
    /* HTML Body */
    --body-background-color: #1C1C1C;

    /* Checkboxes */
    --checkbox-color: #f0f0f0;

    /* Table Tabs */
    --table-tab-background-color: #2F2F2F;
    --table-tab-color: #f0f0f0;
    --table-tab-border-color: #1C1C1C;

    /* Table Tabs Focus */
    --table-tab-focus-background-color: #1C1C1C;
    --table-tab-focus-color: #ee5622;
    --table-tab-focus-border-color: #2F2F2F;

    /* Table Header */
    --table-header-background-color: #1C1C1C;
    --table-header-color: #ee5622;

    /* Table Body Rows */
    --table-body-row-primary-background-color: #cdcdcd;
    --table-body-row-secundary-background-color: #b4b4b4;
    --table-body-row-border-color: #dddddd;

    /* Adventure Gear Page */
    --adventure-gear-background-color: #2F2F2F;

    /* Lava River Component */
    --lava-river-cascade-color: 0deg, #f22b29 0%, #ee5622 35%, #ffd729 45%, #fff4ad 50%, #ffd729 55%, #ee5622 65%, #f22b29 100%;

    /* Navigation */
    --navigation-background-color: #0e0e0e;
    --navigation-logo-image-drop-shadow: drop-shadow(1px 1px 2px #fff4ad) drop-shadow(2px 2px 4px #ffd729) drop-shadow(3px 3px 6px #ee5622) drop-shadow(4px 4px 8px #f22b29);
    --navigation-logo-text-color: #0e0e0e;
    --navigation-logo-text-shadow: 0 0 10px #fff4ad, 0 0 20px #ffd729, 0 0 40px #ee5622, 0 0 80px #f22b29;

    /* Scroll */
    --scroll-scrollbar-thumb: #ee5622;
    --scroll-scrollbar-track: #f0f0f0;

    /* Spell Card */
    --spell-content-wrapper-backcground-color:#2F2F2F;
    --spell-content-wrapper-border-color:#221e22;
    --spell-title-background-color: #221e22;
    --spell-title-color: #ee5622;
    --spell-content-background-color: #cdcdcd;
}

* {
    box-sizing: border-box;
    padding: 0;
    border: 0;
    margin: 0;
    font-family: 'Roboto', sans-serif;
    text-decoration: none;
    list-style: none;
}

.text-center {
    text-align: center;
}