@keyframes moveGradient {
    0% 
    {
        background-position: 50% 0%;
    }
    50% 
    {
        background-position: 50% 100%;
    }
    100% 
    {
        background-position: 50% 0%;
    }
}

.lava-river
{
    width: 20px;
    height: 100vh;
    background: linear-gradient(0deg, rgba(242,43,41,1) 0%, rgba(238,86,34,1) 35%, rgba(255,215,41,1) 45%, rgba(255,244,173,1) 50%, rgba(255,215,41,1) 55%, rgba(238,86,34,1) 65%, rgba(242,43,41,1) 100%);
    background-size: 200% 200%; /* Aumenta o tamanho para garantir que o gradiente se mova completamente */
    animation: moveGradient 10s linear infinite;
}