@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@400;500;700&family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap');

:root
{
    --menu-buttons-content-wrapper-background-color:#2F2F2F;

    --menu-buttons-card-color: #000000;
}

.menu-buttons-content-wrapper
{
    display: flex;
    flex-direction: row;
    justify-content: center;

    height: 100%;
    width: 80vw;
    padding: 15px;

    background-color: var(--menu-buttons-content-wrapper-background-color);
}

.menu-buttons-row
{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-evenly;
}

.button-card
{
    display: flex;
    align-items: center;
    justify-content: center;
    position: relative;
    
    height: 120px;
    width: 120px;
}

.button-card a
{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;

    height: 100%;
    width: 100%;

    cursor: pointer;
    z-index: 2;
}

.button-icon
{
    height: 50%;
    width: 50%;
    filter: drop-shadow(1px 1px 2px #fff4ad) drop-shadow(2px 2px 4px #ffd729) drop-shadow(3px 3px 6px #ee5622) drop-shadow(4px 4px 8px #f22b29);
}

.button-card h2
{
    margin: 10px 0px;

    color: var(--menu-buttons-card-color);
    font-family: 'Roboto', sans-serif;
    font-size: 1rem;
    text-shadow: 0 0 10px #fff4ad, 0 0 20px #ffd729, 0 0 40px #ee5622, 0 0 80px #f22b29;
    z-index: 3;
}
  
.button-card::before 
{
    content: "";
    position: absolute;
    width: 50%;
    height: 50%;
    border-radius: 50%;
    background: radial-gradient(circle, rgba(255,255,221,1) 10%, rgba(255,215,41,1) 25%, rgba(238,86,34,1) 55%, rgba(242,43,41,1) 70%);
    box-shadow: 0 0 10px rgba(242,43,41,1), 0 0 20px rgba(242,43,41,1), 0 0 40px rgba(242,43,41,1), 0 0 80px rgba(242,43,41,1), 0 0 160px rgba(242,43,41,1);
    transform: scale(0);
    opacity: 0;
    transition: transform 1s, opacity 1s;
}
  
.button-card:hover::before
{
    transform: scale(1);
    opacity: 1;
}

.button-card:hover
{
    scale: 1.1;
    transition: scale 0.3s ease-in-out;
}

@media (min-width: 640px) 
{
    .button-card
    {
        height: 150px;
        width: 150px;
    }
    .button-card h2
    {
        font-size: 1.2rem;
    }
}

@media (min-width: 768px) 
{
    .menu-buttons-content-wrapper
    {
        flex-direction: column;
        justify-content: start;
    }
    
    .menu-buttons-row
    {
        flex-direction: row;
    }

    .button-card
    {
        height: 120px;
        width: 120px;
    }

    .button-card h2
    {
        font-size: 1rem;
    }
}

@media (min-width: 1024px) 
{
    .button-card
    {
        height: 150px;
        width: 150px;
    }

    .button-card h2
    {
        font-size: 1.3rem;
    }
}

@media (min-width: 1280px) 
{
    .button-card
    {
        height: 180px;
        width: 180px;
    }

    .button-card h2
    {
        font-size: 1.5rem;
    }
}

@media (min-width: 1536px)
{
    .button-card
    {
        height: 220px;
        width: 220px;
    }

    .button-card h2
    {
        font-size: 1.7rem;
    }
}