/* Este css é para os inputs de pesquisa (checkboxes, searchs e selects) */

.search-input {
    width: 220px;
    border-radius: 4px;
    padding: 8px 12px;
    margin: 10px;
}

.search-select {
    width: 220px;
    border-radius: 4px;
    padding: 8px 12px;
    margin: 10px;
}

.search-checkbox {
    display: flex;
    align-items: center;
    padding: 10px;

    color: var(--checkbox-color);
}

.search-checkbox input {
    margin: 5px;
}