@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@400;500;700&family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap');

:root 
{
    --spell-content-wrapper-backcground-color:#2F2F2F;
    --spell-content-wrapper-border-color:#221e22;

    --spell-title-background-color: #221e22;
    --spell-title-color: #ee5622;

    --spell-content-background-color: #cdcdcd;
}

.spell-card-content-wrapper
{
    height: 90%;
    width: 90%;
    padding: 15px;
    border-radius: 8px;

    background-color: var(--spell-content-wrapper-backcground-color);
    border: solid 1px var(--spell-content-wrapper-border-color);

    box-shadow: 0 0 20px rgba(0, 0, 0, 0.15);
}

.spell-card-content-wrapper h1
{
    padding: 10px;
    border-radius: 5px 5px 0px 0px;

    background-color: var(--spell-title-background-color);
    color: var(--spell-title-color);
    font-size: 1.4rem;
}

.spell-card-content
{   
    max-height: calc(100% - 75px);
    padding: 10px;
    border-radius: 0px 0px 5px 5px;

    background-color: var(--spell-content-background-color);
    font-size: 0.9rem;
    font-weight: 400;
    text-align: justify;
    overflow-y: auto;
}

/* Scrollbar background style */
.spell-card-content::-webkit-scrollbar 
{
    width: 5px;

}
  
/* Scrollbar thumb style */
.spell-card-content::-webkit-scrollbar-thumb 
{
    background-color: #ee5622;
    border-radius: 25px;
}

/* Scrollbar track style */
.spell-card-content::-webkit-scrollbar-track 
{
    background-color: #f0f0f0;
}

/* Scrollbar buttons */
.spell-card-content::-webkit-scrollbar-button 
{
    display: none;
}

.spell-card-content strong
{
    font-size: 0.95rem;
    font-weight: 700;
}

.spell-card-content p
{
    margin-bottom: 15px;
}

@media (min-width: 768px) 
{   
    .spell-card-content-wrapper h1
    { 
        padding: 15px;
        font-size: 1.5rem;
    }

    .spell-card-content
    {   
        padding: 15px;
        font-size: 1rem;
    }    
    
    .spell-card-content strong
    {
        font-size: 1.05rem;
    }
    
    .spell-card-content p
    {
        margin-bottom: 20px;
    }
}

@media (min-width: 1280px) 
{   
    .spell-card-content-wrapper
    {
        width: 70%;
    }

    .spell-card-content-wrapper h1
    { 
        padding: 20px;
        font-size: 1.8rem;
    }

    .spell-card-content
    {   
        padding: 20px;
        font-size: 1.05rem;
    }    
    
    .spell-card-content strong
    {
        font-size: 1.1rem;
    }
    
    .spell-card-content p
    {
        margin-bottom: 30px;
    }
}