.navigation-container {
    display: flex;
    flex-direction: row;

    height: 100%;
    width: 100%;

    padding: 15px;
    background-color: var(--navigation-background-color);
}

.navigation-logo {
    display: flex;
    flex-direction: row;
    justify-content: center;

    color: var(--navigation-logo-text-color);
    cursor: pointer;
}

.navigation-logo img {
    height: 100%;
    width: auto;
    margin-right: 20px;

    filter: var(--navigation-logo-image-drop-shadow);
}

.navigation-logo div {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: left;
}

.navigation-logo h1 {
    font-size: 1.2rem;
    font-weight: 700;
    text-shadow: var(--navigation-logo-text-shadow);
}

.navigation-logo p {
    font-size: 0.8rem;
    font-weight: 500;
    text-shadow: var(--navigation-logo-text-shadow);
}

@media (min-width: 640px) {
    .navigation-logo h1 {
        font-size: 1.5rem;
    }

    .navigation-logo p {
        font-size: 1rem;
    }
}

@media (min-width: 768px) {

    .navigation-logo h1 {
        font-size: 2rem;
    }

    .navigation-logo p {
        font-size: 1.1rem;
    }
}