.navigation-container
{
    display: flex;
    flex-direction: row;

    height: 100%;
    width: 100%;
    
    padding: 15px;
    background-color: #0e0e0e;
}

.navigation-logo
{
    display: flex;
    flex-direction: row;
    justify-content: center;

    margin-left: 3%;
    cursor: pointer;
}

.navigation-logo img
{
    height: 100%;
    width: auto;
    margin-right: 10px;
    filter: drop-shadow(1px 1px 2px #fff4ad) drop-shadow(2px 2px 4px #ffd729) drop-shadow(3px 3px 6px #ee5622) drop-shadow(4px 4px 8px #f22b29);
}

.navigation-logo div
{
    display: flex;
    flex-direction: column;
    align-items: left;
    justify-content: center;
}

.navigation-logo h1
{
    font-size: 1.2rem;
    font-weight: 700;
    text-shadow: 0 0 10px #fff4ad, 0 0 20px #ffd729, 0 0 40px #ee5622, 0 0 80px #f22b29;
}

.navigation-logo p
{
    font-size: 0.8rem;
    font-weight: 500;
    text-shadow: 0 0 10px #fff4ad, 0 0 20px #ffd729, 0 0 40px #ee5622, 0 0 80px #f22b29;
}

@media (min-width: 640px) 
{
    .navigation-logo
    {
        margin-left: 5%;
    }

    .navigation-logo h1
    {
        font-size: 1.5rem;
    }
    .navigation-logo p
    {
        font-size: 1rem;
    }
}

@media (min-width: 768px) 
{
    .navigation-logo
    {
        margin-left: 8%;
    }
    
    .navigation-logo h1
    {
        font-size: 2rem;
    }
    .navigation-logo p
    {
        font-size: 1.1rem;
    }
}